/* ALL QUERIES */
main{
    display: flex;
    flex:1;
}

a {
    list-style-type: none;
    text-decoration: none;
    text-justify: center;
    color:var(--txt-color);
    text-transform: uppercase;
}

section{
    background-color: var(--quaternary-background-color);
}

nav > *{
    padding: 15px 0;
}

nav{
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-background-color);
}

aside{
    background-color: var(--quinary-background-color);
}

/*************** Smartphone screen *********************/
@media (max-width: 575.98px) { 
    main{
        flex-direction: column;
    }
    
    nav, aside{
        width: auto;
    }
    
    section, aside{
        text-align: left;
    }
    
    nav{
        order:1;
    }
     nav > *{
         width: auto;
     }
    
    }

/*********************** tablette screen ********************/
@media (max-width: 991.98px) { 
    main{
        flex-wrap: wrap;
    }
    
        section, aside{
            text-align: left;
        }
    
        nav{
            order:-1;
        }

        nav > *{
            width: auto;
        }

        section{
            flex-basis :0px;
            flex-grow: 1;
        }
}

/*********************** desktop screen ********************************/
@media (min-width: 992px) { 
    section, aside{
        text-align: left;
    }
    
    nav{
            order:-1;
            width: 250px;
        }

        aside{
            flex-basis: 250px;
            flex-grow: 1;
        }
}