*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    text-align: center;
    min-height: 100vh;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    background-color: black;
    border: 2px solid black;
}

/* Smartphone */
@media (max-width: 575.98px) { 
header, main > *, footer{
    padding :10px;
    margin: 4px;
    border-radius: 4px;
}

main{
    display: flex;
    flex-direction: column;
    flex:1;
}
nav, aside{
    width: auto;
}

section, aside{
    text-align: left;
}

header{
    background-color: rgb(0,139,139);
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 8px;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(2,191,256);
    order:1;
}
 nav > *{
     padding: 15px 0;
     width: auto;
 }

.container{
    border-radius: 8px;
}

    a {
        list-style-type: none;
        text-decoration: none;
        text-justify: center;
        color:white;
        text-transform: uppercase;

    }
    
    section{
        background-color: rgb(222,186,134);
        color:white;
    }
    aside{
        background-color: rgb(2255,0,255);
        color:white;
    }


footer{
    background-color: rgb(204, 92, 91);
    color: white;
}

}


/* tablette */
@media (max-width: 991.98px) { 
    
 }

/*screen laptop*/
@media (max-width: 1199.98px) { 
/* 
body {
    display: flex;
    text-align: center;
    min-height: 100vh;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    background-color: black;
    border: 2px solid black;
}    

header, main > *, footer{
        padding :10px;
        margin: 4px;
        border-radius: 4px;
    }
    
    main{
        display: flex;
        flex:1;
    }
    nav, aside{
        width: 250px;
    }
    
    header{
        background-color: rgb(0,139,139);
        text-align: center;
        font-size: 20px;
        color: white;
        border-radius: 8px;
    }
    nav{
        display: flex;
        flex-direction: column;
        background-color: rgb(2,191,256);
        order:-1;
    }
     nav > *{
         padding: 10px 0;
     }
    
    .container{
        border-radius: 8px;
    }
    
        a {
            list-style-type: none;
            text-decoration: none;
            text-justify: center;
            color:white;
            text-transform: uppercase; 
        }
        
        section{
            background-color: rgb(222,186,134);
            color:white;
        }
        aside{
            background-color: rgb(2255,0,255);
            color:white;
        }
    
    
    footer{
        background-color: rgb(204, 92, 91);
    }
*/
 }