@import 'common.css';
@import 'main.css';
@import 'header.css';
@import 'footer.css';

:root{
    --primary-background-color : black;
    --secondary-background-color:rgb(0,139,139); /*header*/
    --tertiary-background-color:rgb(2,191,256); /*nav*/
    --quaternary-background-color:rgb(222,186,134); /*section*/
    --quinary-background-color:rgb(255,0,255); /*aside*/
    --senary-background-color:rgb(204, 92, 91); /*footer*/
    --txt-color:white;
}